* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img:hover {
    background-color: white;
    opacity: 65%;
}

.header {
    padding: 15px;
    background-color: tan;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header h1 {
    font-size: 48px;
}

.header nav {
    margin: 0px;
    padding: 20px;
    font-size: 20px;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.header nav ul li {
    margin-left: 20px;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: bold;
    color: black;
    
}

.hero {
    height: 200px;
    width: 100%;
    margin: 0px;
    background-image: url(./Assets/Hero-img.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    width: 290px;
    height: 30px;
    color: black;
    text-align: right;
    background-color: tan;
    position: absolute;
    bottom: 30px;
    right: 0px;
}

section h3 {
    margin-left: 150px;
    font-size: 45px;
    padding: 15px;
}

.About-me {
    display: flex;
    justify-content: space-between;
}

.About-me p{
    margin: 25px 10px;
}

.Work{
    display: flex;
    justify-content: space-between;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.Minor-card img{
    max-width: 100%;
    border-style: solid;
    border-color: tan;
    border-width: medium;
}

.Master-card img {
    max-width: 100%;
    border-style: solid;
    border-color: tan;
    border-width: medium;
}

.Master-card {
    position: relative;
    flex: 1 1 100%;
}

.Minor-card{
    position: relative;
    flex: 1 1 50%;
    min-width: 225px;
}

.Card-title{
    position: absolute;
    bottom: 25px;
    left: 0px;
    text-align: center;
    width: 180px;
    height: 50px;
    background-color: tan;
    color: black;
}

.Contact-me {
    display: flex;
    justify-content: space-between;
}

.Contact-me article {
    margin: 15px 10px;
}

.Contact-me article ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.Contact-me article ul li {
    padding: 25px;
}

@media screen and (max-width: 980px) {
    .section h3 {
        margin-left: 0;
        text-align: center;
    }

    .About-me{
        flex-wrap: wrap;
    }

    .Work {
        flex-wrap: wrap;
    }

    .Contact-me{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
    .section h3 {
        margin-left: 0;
        text-align: center;
    }

    .About-me{
        flex-wrap: wrap;
    }

    .Work {
        flex-wrap: wrap;
    }

    .Contact-me{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 575px) {
    .section h3 {
        margin-left: 0;
        text-align: center;
    }

    .About-me{
        flex-wrap: wrap;
    }

    .Work {
        flex-wrap: wrap;
    }

    .Contact-me{
        flex-wrap: wrap;
    }
}